.git
go2rtc.yaml

# Python
__pycache__/
*.pyc
instance/*
.env
.db

# Node
frontend/node_modules
frontend/dist

# OS junk
.DS_Store
Thumbs.db

# Editor
.vscode
.idea
.venv

# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
