.git
go2rtc.yaml
*.pyc
instance/*
.env
.db
frontend/node_modules
frontend/dist
frontend/build
frontend/coverage
!/frontend/**/*.ts
.DS_Store
Thumbs.db
.venv
__pycache__
.mypy_cache
*.swp
debug
.vscode/*
!.vscode/launch.json
config/*
!config/*.example
models
*.mp4
*.db
*.csv
core
.idea/*
.ipynb_checkpoints
/shelf/
/workspace.xml
/queries/
/dataSources/
/dataSources.local.xml
/httpRequests/
